.memo-preview {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: stretch;
  width: 128px;
  height: 128px;
  padding: 8px;
  margin: 4px;
  background-color: #F0E992;
  border: 1px solid #7F7F7F;
}

.date-and-close {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  font-size: 12px;
}

.content-and-tags {
  position: relative;
  flex: 1;
  margin-top: 8px;
  cursor: pointer;
}

.memo-preview span {
  display: inline-block;
  cursor: pointer;

  font-size: 14px;
}

.memo-preview-tags {
  position: absolute;
  bottom: 0;
  font-size: 12px;
  color: #7F7F7F;
}